<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<div class="container">
  <div class="field qs">
    <h1><%= @question %></h1>
    <p>-You</p>
  </div>
  <div class="field as">
    <h1><%= @answer  %></h1>
    <p>-Coach</p>
  </div>
</div>
<br>

<%= link_to "Ask another question", "/ask" %><br>



